  
  .about_container{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about_title{
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    text-wrap: nowrap;
    color: var(--first-text-color);
    z-index: 10;
    opacity: 100%;
    transition: all 0.5s;
    margin: 0 50px;
  }

  .about_m{
    width: 100%;
    height: fit-content;
  }

  .text_p{
    font-family: "Afacad Flux", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: var(--first-text-color);
    text-align: center;
    margin: 0 50px;
  }